.navigation-toggle {
    display: none;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    border: none;
    background: none;
    color: #0F0F10;
}

@media (max-width: 850px) {
    .navigation-toggle {
        display: initial;
    }
}
