:root {
    --primary-color: #4480F1;
    /*--background-color: #FFFFFF;*/
    --background-color-variant: #FFFFFF;
    --foreground-color: #6C717F;
    /*--icon-color: #0F0F10;*/

    /*--link-color: var(--primary-color);*/
    --logo-primary-color: var(--primary-color);
    --logo-secondary-color: var(--foreground-color);
}