.navigation {
    flex-grow: 1;
    padding: 0 44px;
}

.navigation__list {
    display: flex;
    column-gap: 1rem;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
    color: #4480F1;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
